@use 'variaveis';

.form{
    text-align: left;
    margin-top: 50px;
    width: 80%;
    box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.3);
    background-color: variaveis.$corTextoMenu;
    border-radius: 12px;

    &__campo{
        margin: 20px;

        & label{
            font-size: 1.2em;
            margin-bottom: 5px;
        }

        & .sim-nao{
            border-radius: 50px;
        }

        & textarea{
            resize: none;
            height: 120px;
        }

        & button{
            text-align: center;
        }

        &-same{
            width: 100%;
            display: block;
            padding: 10px;
            border-radius: 5px;
            border: none;
            margin-top: 15px;
            outline: none;

            &::placeholder{
                color: variaveis.$corTextoMenu;
            }
        }
    }
}