@use 'variaveis';

.header {
    width: 100%;
    background-color: variaveis.$corVerdeFundo;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;

    &__logo{
        height: 100%;
        display: flex;
        align-items: center;

        h1{
            color: variaveis.$corTextoPrincipal;
        }
    }

        &__menu{
            height: 100%;
            display: flex;
            align-items: center;

            &__link{
                display: flex;
                color: variaveis.$corTextoPrincipal;

                &__item{
                    padding: 1vw;

                    & a {
                        color: variaveis.$corTextoPrincipal;
                    }
                }
            }
        }
    
}

