/*CORES PRINCIPAIS DO SITE*/
$corVerdePrincipal: #75935E;
$corVerdeFundo: #597a41;
$corVerdeHover: #85a86b;
$corTextoPrincipal: #fff;




/////-----------TAMANHO DOS TEXTOS-----------/////

/////-----------TEXTO NORMAl-----------/////
@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: #{$fontSize + 10px};
    font-family: 'Playwrite IS';}

.text--small {
    @include text(16px);

    @media (max-width:768px){
        @include text(14px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include text(15px)
    }
}

.text {
    @include text();

    @media (max-width:768px){
        @include text(20px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include text(21px)
    }
}

.text--big {
    @include text(30px);
    
    @media (max-width:768px){
        @include text(24px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include text(29px)
    }
}

/////-----------TÍTULOS-----------/////
@mixin title($fontSize: 40px) {
    @include text ($fontSize);
    font-size: $fontSize;
}

.title {
    @include title();

    @media (max-width:768px){
        @include title(45px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include title(39px)
    }
}

.title--big {
    @include title(72px);

    @media (max-width:768px){
        @include title(70px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include title(71px)
    }
}

/////-----------CONTAGEM REGRESSIVA-----------/////
@mixin timertext($fontSize: 50px) {
    @include text ($fontSize);
    font-size: $fontSize;
}

.timertext {
    @include timertext();

    @media (max-width:768px){
        @include timertext(48px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include timertext(50px)
    }
}

/////-----------UX-----------/////
@mixin menuText($fontSize: 50px) {
    @include text ($fontSize);
    font-size: $fontSize;
}

.menuText {
    @include menuText();

    @media (max-width:768px){
        @include menuText(40px)
    }

    @media screen and (min-width:641px) and (max-width:1023px){
        @include menuText(45px)
    }
}